* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    League Spartan,
    Arial,
    Helvetica;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 659px;
  height: 856px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid grey;
}

.logo {
  margin: 0;
  font-family: Quicksand;
  font-size: 48px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}

.invoice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 595px;
  height: 32px;
  background-color: #00ca8d;
}

.invoice-title {
  margin-left: 200px;
  padding: 10px 10px 0 10px;
  background-color: white;
  font-size: 48px;
  font-weight: 400;
}

.invoice-info-container {
  display: flex;
  justify-content: space-between;
  width: 531px;
  min-height: 97px;
  margin: 20px 0;
}

.bold {
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.invoice-number {
  display: flex;
  justify-content: space-between;
}

.invoice-info-left {
  display: flex;
  flex-direction: column;
}

.invoice-to {
  padding-bottom: 10px;
}

.address,
.customer-name {
  width: 220px;
  line-height: 18px;
}

.address {
  color: #636363;
}

.customer-name {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.invoice-info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 208px;
  gap: 8px;
}

.align-right {
  display: inline-block;
  text-align: right;
}

.invoice-date {
  display: flex;
  justify-content: space-between;
}

.order-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #636363;
  text-transform: uppercase;
}

.order-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #636363;
}

/* Table styles */
.black-header-table {
  width: 531px;
  min-height: 242px;
  border-collapse: collapse;
  background-color: #212121;
}

.black-header-table th {
  color: #fdfdfd;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.black-header-table tbody tr {
  background-color: white;
}

.black-header-table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #e0e0e0;
}

.black-header-table tbody {
  border: 1px solid black;
}

.black-header-table td {
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

/* Set max-width for each column */
.black-header-table th:nth-child(1),
.black-header-table td:nth-child(1) {
  max-width: 32px;
  text-align: center;
}

.black-header-table th:nth-child(2),
.black-header-table td:nth-child(2) {
  max-width: 190px;
}

.black-header-table th:nth-child(3),
.black-header-table td:nth-child(3) {
  max-width: 80px;
  text-align: center;
}

.black-header-table th:nth-child(4),
.black-header-table td:nth-child(4) {
  max-width: 32px;
  text-align: center;
}

.black-header-table th:nth-child(5),
.black-header-table td:nth-child(5) {
  max-width: 80px;
  text-align: center;
}

/* Media queries */
.invoice-total {
  display: flex;
  justify-content: space-between;
  width: 531px;
  margin-top: 20px;
}

.gratitude,
.invoice-total-header {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.invoice-total-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.conditions {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #636363;
  width: 243px;
}

.payment-info-grid {
  display: grid;
  width: 243px;
  grid-template-columns: 111px 117px;
}

/* Total styles */

.total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 237px;
  gap: 12px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  width: 173px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.total-row-green {
  background-color: #00ca8d;
  color: #fdfdfd;
  text-transform: uppercase;
  width: 237px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

/* .total-row div {
  display: flex;
} */

/* Footer styles */
.footer {
  width: 100%;
  padding: 30px;
}

.footer .line {
  height: 4px;
  background-color: #00ca8d;
  margin: 0 auto 10px;
}

.footer-info {
  width: 202px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.footer .link,
.footer .phone {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.footer-info .link::after {
  content: '|';
  display: inline-block;
  width: 1px;
  height: 100%;
  color: #e0e0e0;
  margin: 0 15px;
}
